{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content inner-wrapper">
    <section class="primary-container">
        <h1>Response:</h1>
        <div class="response-holder">
            <!-- dump -->
            <pre>{#{ dump(response) }#}</pre>

            <!-- json encode here in twig (pretty-print) -->
            <pre>{#{ response|json_encode(constant('JSON_PRETTY_PRINT')) }#}</pre>

            <!-- echo minified json_response -->
            <pre>{{ json_response }}</pre>
        </div>
    </section>
    <aside class="secondary-container">
        <h2>Filters:</h2>
        {{ form_start(form,
            {
                'attr': {'id': 'filter-meals-form', 'class': 'form-container'},
                'method': 'GET',
                'action': path('meal.index'),
            })
        }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </aside>
</div>
{% endblock %}
