<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}JelaSvijeta!{% endblock %}</title>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    </head>
    <body class="site-area">
        <header id="site-header" class="site-header main-wrapper">
            <nav id="site-navigation" class="site-navigation inner-wrapper">
                <ul class="list-group">
                    <li class="list-item"><a href="{{path('meal.index')}}">JelaSvijeta</a></li>
                </ul>
            </nav>
        </header>
        <main id="site-content" class="site-content main-wrapper">
            {% block body %}{% endblock %}
        </main>
        <footer id="site-footer" class="site-footer main-wrapper">
            <div class="footer-content inner-wrapper">
                <div>Copyright &copy; {{ 'now'|date("Y") }}</div>
                <div>Made by: <a href="">Šimun Ivanac</a> </div>
            </div>
        </footer>
    </body>
</html>
